* {
    box-sizing: border-box;
    margin:0px auto;
  }
  
  .container {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .middle {
    display: flex;
    width: 600px;
  }